/* How you load a google font or any external font in a css file */
/* We are essentially importing another stylesheet from elsewhere */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
  /* This is how we get a full sized fixed image centered background */
  background: url('../img/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* apply the default font style at the body tag
so that all children elements inherit this style
we can always overwrite when neccessary */
body {
  font-family: 'Kaushan Script', serif;
}

/* To always make sure an image fits inside of its parent div
apply these style rules */
img {
  width: 100%;
  height: auto;
}


/* NAV */

header {
  width: 100%;
  height: 50px;
  padding: 0 10%;
  background-color: grey;
  height: 50px;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  /* flex container properties there are flex containters and flex items  */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url(../img/denim.png);

}

header h1{
  color: #333;
}

nav ul{
  display: flex;
  list-style-type: none;
  text-align: center;
  background-color: rgba(40, 40, 40, 0.1);
}

nav li{
  font-size: 18px;
  height: 50px;
  width: 120px;
  line-height: 50px;

}

nav a {
  display: block;
  text-decoration: none;
  color: #333;
  transition: all 1s linear;
  /* we always define transitions on the base/defalt state */

}

nav a:hover{
  background-color: rgba(40, 40, 40, 0.5);
  color: bisque;
}

nav a.active{
  background-color: black;
  color: white;
}

/* GALLERY */

.container {
  width: 900px;
  margin: 100px auto;
  /* when we use inline-block to stack elements
  we have to zero out the font size on the
  parent or container element*/
  font-size: 0;
}

.polaroid {
  width: 260px;
  margin: 20px;
  display: inline-block;
  /* Whenever you want to abs position an element inside
  of another parent element, the parent element needs to be
  positioned as well */
  position: relative;
}

/* descendant selector */
.polaroid img {
  /* border shorthand is width, style, color */
  border: 10px solid #ccc;
  border-bottom-width: 45px;
}

.polaroid p {
  font-size: 1rem;
  position: absolute;
  bottom: 10px;
  width: 260px;
  text-align: center;
  color: #333;
}

/* TRANSFORMS AND TRANSISTIONS */

.scaleUp {
  transform: scale(1.2);
  z-index: 10;
}


.scaleX {
  transform: scale(2,1);

}

.scaleY{
transform: scaleY(2);
}


.skewX{
  transform: skewX(-20deg);
  transform-origin: top;

}

.skewY{
  transform: skewY(-20deg);

}

.skewBoth{
  transform: skew(10deg, 40deg);

}

.rotX{
  transform: rotateX(180deg);

}

.rotY{
  transform: rotateY(180deg);
}

.rotZ{
  transform: rotateZ(180deg);
}


.rotateLeft{
  transform: rotate(-20deg);
  transform-origin: bottom right;
  transition: all 1s ease-out;
}

.rotateLeft:hover{
  transform: rotate(20deg);
}

.skewHover{
  transform: skewX(30deg);
  transition: all 3s ease-in;
}

.skewHover:hover{
  transform: skew(-30deg);
}

/* filters */


.colorSwap{
  filter: grayscale(100%);
} 
/* Use the filer and transition for coming into color, but you have to use the color file */