/* GLOBAL */
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}


/* we always fill the image containter with the image and then size the box around it */
img{
    width: 100%;
    height: auto;
}
/* FlexBox  Simple Row Layouts */


/* Base Styles  */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* some styles so we can see our containers */
    border: 1px  solid purple;
    background-color: rgba(255, 0, 255, .3);
    min-height: 400px;
}


.item {
    border: 1px solid cornflowerblue;
    background-color: rgba(0, 0, 255, .3);
    width: 23%;
    height: 300px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* atomic Styles */

.wrap-reverse {
    flex-wrap: wrap-reverse;
}


.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}


.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-even {
    justify-content: space-evenly;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center{
    align-items: center;
}

.self-start {
    align-self: flex-start;
}

.self-end {
    align-self: flex-end;
}

.self-center {
    align-self: center;
}

.self-stretch{
    align-self: stretch;
    height: auto;
}

/* media Queries are for applying different stles on different sized screens  */

/* always have media quraies at the end of your css docs */
@media screen and (max-width: 768px){
   body{
    background-color: aqua;
   } 
   .container{
    flex-direction: column;
    align-items: center;

   }

   .self-stretch{
    height: 300px;
    width: auto;
   }
}

.item{
    width: 95%;
    margin: 1rem;
}


/* simple classic layout using Flexbox */

header{
    display: flex;
    width: 100%;
    min-height: 100px;
    background-color: aqua;
}

 .wrapper{
    display: flex;
    flex-direction: row;
}

.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: darkcyan;
}

.grid-item{
    width: 23%;
    margin: 1%;
}

.secondary-nav{
    min-width: 25%;
    background-color: aquamarine;
}

.menu{
    /* remove the list defalts */
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu li {
    border-bottom: 1px solid grey;
}

.menu a {
    text-decoration: none;
    color: #111;
    font-weight: 600;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    height: 50px;
    text-align: center;
    justify-content: center;

}

.menu a:hover{
    background-color: rgba(0, 0, 0, .1);
}

footer{
    background-color: coral;
    display: flex;
    min-height: 100px;
}

/* tablet  */
@media  screen and (max-width: 1024px) {
    .grid-item{
        width: 48%;
    }
    
}
/* phone */
@media screen and ( max-width: 769px) {
    .wrapper{
        flex-direction: column;

    }
    
    .secondary-nav{
        order: 1;
    }
    
    .grid-container{
        order: 2;
        flex-direction: column;

    }
    
}